---
import ArrowRightIcon from "../icons/ArrowRightIcon.astro";

interface Props {
  title: string;
  description: string;
  image: string;
  href?: string;
  technologies: string[];
  "data-aos"?: string;
  "data-aos-duration"?: string;
  "data-aos-delay"?: string;
}
const {
  title,
  description,
  image,
  href,
  "data-aos": dataAos,
  "data-aos-duration": dataAosDuration,
  "data-aos-delay": dataAosDelay,
  technologies,
} = Astro.props;
---

<div
  data-aos={dataAos}
  data-aos-duration={dataAosDuration}
  data-aos-delay={dataAosDelay}
  class="flex items-center w-full flex-col"
>
  <a
    target="_blank"
    rel="noopener noreferrer"
    class="flex justify-center items-center"
    href={href}
  >
    <div class="group relative flex justify-center items-center">
      <span
        class="opacity-0
      absolute
      z-10
      text-4xl text-white font-bold
      transition-opacity duration-300
      flex flex-row items-center gap-2
      group-hover:opacity-100"
        >Go to Project <ArrowRightIcon class="size-8" /></span
      >
      <img
        class="max-w-xl w-full h-full transition-all duration-300 z-0 object-cover
        group-hover:scale-95 group-hover:blur-[1px] group-hover:brightness-30"
        src={image}
        alt={`Imagen del proyecto ${title}`}
      />
    </div>
  </a>
  <div class="flex flex-col items-center text-center">
    <h3 class="text-3xl font-bold mb-1 text-white">{title}</h3>
    <span class="text-lg text-gray-300/80 mb-4 text-center text-pretty"
      >{description}</span
    >
    <div class="flex flex-row items-center gap-5">
      {
        technologies.map((tech) => (
          <span class="px-3 py-1 text-xs text-gray-300 bg-gray-700 rounded-full">
            {tech}
          </span>
        ))
      }
    </div>
  </div>
</div>
